In [1]:
num = 12
name = 'Sam'

In [4]:
# String formatting
print('My number is {} and my name is {}'.format(num, name))

My number is 12 and my name is Sam

In [8]:
# Multiple insertions of a single variable
print('My number is {one} and my name is {two}, again my number is {one}'.format(one=num, two=name))

My number is 12 and my name is Sam, again my number is 12

In [9]:
# String characters by index
s = 'hello'
s[0]

'h'

In [10]:
# String slicing
s = 'abcdefghijk'
s[0:5]

'abcde'

In [11]:
# String reverse
s[::-1]

'kjihgfedcba'

In [12]:
# String step
s[0:5:2]

'ace'

In [32]:
# Lists
my_list = ['a', 'b', 'c', [1, 2]]
[1, 2, 3]

# Append
my_list.append('d')
print(my_list)
# Print list in list
print(my_list[3])
# Print element of list in list
print(my_list[3][1])
# Reassign element of a list
my_list[3] = 'NEW'
print(my_list)

['a', 'b', 'c', [1, 2], 'd']
[1, 2]
2
['a', 'b', 'c', 'NEW', 'd']